<div class="container">
    <div class="form-floating mb-3">
        <input type="author" class="form-control" id="authorInput" placeholder="x">
        <label for="authorInput">Nombre y Apellido</label>
    </div>
    <div class="form-floating mb-3">
        <input type="aliasAuthor" class="form-control" id="aliasInput" placeholder="x">
        <label for="aliasInput">Apodo</label>
    </div>
    <div class="form-floating mb-3">
        <input type="titlePost" class="form-control" id="titleInput" placeholder="x">
        <label for="titleInput">Titulo</label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Ingresa tu post" id="postInput" style="height: 100px"></textarea>
        <label for="postInput">Ingresa tu comentario del evento!</label>
    </div>
</div>

