<div>
  <button type="button" class="btn btn-success mb-4" (click)="createPost()">Crear post</button>
</div>
@for (post of posts; track post.idPost) {
  <div class="card mt-2">
    <div class="card-header">
      {{post.titlePost}}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{post.contentPost}}</p>
        <div class="position-absolute top-50 end-0 translate-middle-y mx-4">
          <i>Calificación: </i>
          @for (item of getStars(post.raiting); track item) {
            <svg class="w-6 h-6 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
              <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
          </svg>
          }
        </div>
        <footer class="blockquote-footer fs-5">{{post.author}} <i class="px-4 fs-6">Alias: {{post.aliasAuthor}}</i><cite class="position-absolute bottom-0 end-0 px-4 py-2" title="Source Title">{{post.postDate}}     {{post.postTime}}</cite></footer>
      </blockquote>
    </div>
  </div>
}

